<!DOCTYPE html>
<html>
    <head>
        <title>Movie Classification</title>
        <style>
            h3{
                text-align: left;
            }
        </style>
    </head>
    <body>
        <center>
            <h2>Thank you for your feedback!</h2>
            <div id="button">
                <form action="/">
                    <input type="submit" value="Submit another review" />                    
                </form>
                <br><br>
                <h3>Developed by the Group Members:</h3>
                <br><br>
                <h3>Jayanth Handenahalli Nagaraj (C0830493) </h3>
                <h3>Nithin Aitha (C0812236)</h3>
                <h3>Sai Prasanthi Pokala (C0852853))</h3>
                <h3>Siva Krishna Reddy Undela (C0808232)</h3>
            </div>
        </center>
    </body>
</html>
